document.env =
  jira:
    server: 'https://example.atlassian.net'
    username: 'example-user'

    # you can hash your password using btoa('yourpassword') in a browser,
    # then copy paste here
    password: atob('aGFzaGVkcGFzc3dvcmQ=')

    # If you have a project with short name "PRJ" then this would work,
    # e.g. for IDs like 'PRJ-1234'
    issue_id_matcher: /#?(PRJ-\d+)/g

    # If you want to ignore certain messages altogether (for example, if the
    # message contains a URL to the issue), add a regex here
    issue_id_nomatch: /https?:\/\/[^\s]*PRJ-\d+/